[submodule "src/tests"]
	path = src/tests
	url = https://github.com/ethereum/tests.git
[submodule "src/bench_precompiles"]
	path = src/bench_precompiles
	url = https://github.com/shamatar/bench_precompiles.git
[submodule "src/Nethermind/Nethermind.GitBook/docs"]
	path = src/Nethermind/Nethermind.GitBook/docs
	url = https://github.com/NethermindEth/docs.git
[submodule "src/ethereum-tests"]
	path = src/ethereum-tests
	url = https://github.com/NethermindEth/ethereum-tests.git
