<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="auditSources" value="nuget.org" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="bdn-nightly" value="https://www.myget.org/F/benchmarkdotnet/api/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="nugettest.org" value="https://apiint.nugettest.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="bdn-nightly">
      <package pattern="BenchmarkDotNet" />
      <package pattern="BenchmarkDotNet.*" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.Diagnostics.Runtime" />
      <package pattern="Microsoft.Diagnostics.Runtime.*" />
    </packageSource>
    <packageSource key="nugettest.org">
      <package pattern="Nethermind.ZiskBindings" />
    </packageSource>
  </packageSourceMapping>
</configuration>
