<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="AsyncWrapper"
            name="file-async"
            queueLimit="10000"
            timeToSleepBetweenBatches="0"
            batchSize="200"
            overflowAction="Discard">
      <target name="file" xsi:type="File"
              fileName="log.txt"
              layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message} ${exception:format=toString}" />
    </target>

    <target xsi:type="AsyncWrapper"
            name="colored-console-async"
            queueLimit="10000"
            timeToSleepBetweenBatches="0"
            batchSize="200"
            overflowAction="Discard">
      <target xsi:type="AutoFlushWrapper" name="auto-colored-console">
        <target xsi:type="ColoredConsole"
                name="colored-console"
                layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message} ${exception:format=toString}"
                useDefaultRowHighlightingRules="False">
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="Red" />
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="Red" />
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Yellow" />
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="White" />
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="Gray" />
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
        </target>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" maxlevel="Trace" final="true" />
    <logger name="Evm.*" maxlevel="Info" final="true"/>
    <logger name="Store.*" maxlevel="Info" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="file-async"/>
  </rules>
</nlog>