Source: nethermind
Section: shells
Priority: optional
Maintainer: Demerzel Solutions Limited <hello@nethermind.io>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.5.0
Homepage: https://nethermind.io

Package: nethermind
Architecture: amd64
Multi-Arch: foreign
Depends: libsnappy-dev, libc6-dev, libc6, unzip, jq, curl, wget
Description: An Ethereum client built on .NET
 A high-performance, highly configurable Ethereum execution client that offers very fast sync speeds and support for external plugins.
