<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogFile="logs/internal-nlog.log">

  <variable name="DefaultLayout"
            value="TID:${threadid} ${longdate} ${level:upperCase=true} ${logger} ${message} ${onexception:(${stacktrace:topFrames=10}) ${exception:format=ToString}}" />

  <targets async="true">
    <target name="debuglogfile" xsi:type="File" fileName="logs/debug.log" layout="${DefaultLayout}" />
    <target name="normallogfile" xsi:type="File" fileName="logs/log.log" layout="${DefaultLayout}" />
    <target name="logconsole" xsi:type="Console" layout="${DefaultLayout}" />

    <target xsi:type="AutoFlushWrapper" name="auto-colored-console-async">
      <target xsi:type="AsyncWrapper"
              name="colored-console-async"
              queueLimit="10000"
              timeToSleepBetweenBatches="0"
              batchSize="200"
              overflowAction="Discard">
        <target xsi:type="ColoredConsole"
                name="colored-console"
                layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message}|${exception:format=Message}"
                useDefaultRowHighlightingRules="False">
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="Red" />
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="Red" />
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Yellow" />
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="Cyan" />
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="Gray" />
          <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
        </target>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debuglogfile" />
    <logger name="*" minlevel="Info" writeTo="normallogfile" />
    <logger name="*" minlevel="Info" writeTo="auto-colored-console-async" />
  </rules>
</nlog>