<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true" throwExceptions="false">

    <!-- <variable name="serverUrl" value="http://localhost:5341" />
    <variable name="apiKey" value="" /> -->

    <extensions>
        <add assembly="NLog.Targets.Seq" />
    </extensions>

    <targets async="true">
        <target name="file-async" xsi:type="File"
                keepFileOpen="true"
                concurrentWrites="false"
                fileName="log.txt"
                archiveAboveSize="32000000"
                maxArchiveFiles="10"
                layout="${longdate}|${level:uppercase=true}|${threadid}|${message} ${exception:format=toString}" />
        <!--layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message} ${exception:format=toString}" />-->

        <target xsi:type="ColoredConsole"
                autoFlush="true"
                name="auto-colored-console-async"
                useDefaultRowHighlightingRules="False"
                layout="${longdate}|${message} ${exception:format=toString}">
            <!-- layout="${longdate}|${threadid}|${message} ${exception:format=toString}"> -->
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="Red" />
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="Cyan" />
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="Gray" />
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
        </target>
    </targets>

    <rules>
        <!-- JsonWebAPI is an internal Kestrel logger for Json, not related to Ethereum JSON RPC -->
        <logger name="JsonWebAPI*" minlevel="Error" writeTo="file-async" />
        <logger name="JsonWebAPI*" minlevel="Error" writeTo="auto-colored-console-async" final="true" />
        <logger name="JsonWebAPI*" final="true" />

        <!-- you can control JSON RPC logging level here -->
        <!--<logger name="*.TxPool" minlevel="Trace" writeTo="file-async"/>-->
        <!--<logger name="*.TxPool" minlevel="Trace" writeTo="auto-colored-console-async"/>-->
        <!--<logger name="*.TxPool" final="true"/>-->

        <!-- big chance that you do not like the peers report - you can disable it here -->
        <!-- <logger name="Synchronization.Peers.*" minlevel="Warn" writeTo="file-async"/> -->
        <!-- <logger name="Synchronization.Peers.*" minlevel="Warn" writeTo="auto-colored-console-async"/> -->
        <!-- <logger name="Synchronization.Peers.*" final="true"/> -->

        <!-- if sync get stuck this is the best thing to enable the Trace on -->
        <!-- <logger name="Synchronization.ParallelSync.MultiSyncModeSelector" minlevel="Trace" writeTo="file-async"/> -->
        <!-- <logger name="Synchronization.ParallelSync.MultiSyncModeSelector" minlevel="Trace" writeTo="auto-colored-console-async"/> -->
        <!-- <logger name="Synchronization.ParallelSync.MultiSyncModeSelector" final="true"/> -->

        <logger name="*" minlevel="Info" writeTo="file-async" />
        <logger name="*" minlevel="Info" writeTo="auto-colored-console-async" />
    </rules>
</nlog>
