<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true" throwExceptions="false">

    <extensions>
        <add assembly="NLog.Targets.Seq" />
    </extensions>

    <targets async="true">
        <!-- beware - Nethermind code finds this target (file-async) to raplce the file name with a directory-prefixed one -->
        <target name="file-async" xsi:type="File"
                keepFileOpen="true"
                concurrentWrites="false"
                fileName="log.txt"
                archiveAboveSize="32000000"
                maxArchiveFiles="10"
                layout="${longdate}|${level:uppercase=true}|${threadid}|${message} ${exception:format=toString}" />
        <!--layout="${longdate}|${level:uppercase=true}|${threadid}|${logger}|${message} ${exception:format=toString}" />-->

        <target xsi:type="ColoredConsole"
                autoFlush="true"
                name="auto-colored-console-async"
                useDefaultRowHighlightingRules="false"
                layout="${longdate}|${message} ${exception:format=toString}">
            <!-- layout="${longdate}|${threadid}|${message} ${exception:format=toString}"> -->
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="Red" />
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="Cyan" />
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="Gray" />
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="Magenta" />
        </target>
        <target xsi:type="BufferingWrapper" name="seq" bufferSize="1000" flushTimeout="2000">
            <target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
                <property name="ThreadId" value="${threadid}" as="number" />
                <property name="MachineName" value="${machinename}" />
                <property name="Logger" value="${logger}" />
                <property name="Exception" value="${exception}" />
                <property name="Enode" value="${gdc:item=enode}" />
                <property name="Chain" value="${gdc:item=chain}" />
                <property name="ChainID" value="${gdc:item=chainId}" />
                <property name="Engine" value="${gdc:item=engine}" />
                <property name="NodeName" value="${gdc:item=nodeName}" />
                <property name="Version" value="${gdc:item=version}" />
            </target>
        </target>
    </targets>

    <rules>
        <logger name="JsonWebAPI.Microsoft.Extensions.Diagnostics.HealthChecks.DefaultHealthCheckService" maxLevel="Error" final="true" />
        <!-- JsonWebAPI is an internal Kestrel logger for Json, not related to Ethereum JSON RPC -->
        <logger name="JsonWebAPI*" minlevel="Error" writeTo="file-async" />
        <logger name="JsonWebAPI*" minlevel="Error" writeTo="auto-colored-console-async" final="true" />
        <logger name="JsonWebAPI*" final="true" />

        <!-- you can control JSON RPC logging level here -->
        <!-- <logger name="JsonRpc.*" minlevel="Error" writeTo="file-async"/> -->
        <!-- <logger name="JsonRpc.*" minlevel="Error" writeTo="auto-colored-console-async"/> -->
        <!-- <logger name="JsonRpc.*" final="true"/> -->

        <!-- big chance that you do not like the peers report - you can disable it here -->
        <!-- <logger name="Synchronization.Peers.SyncPeersReport" minlevel="Error" writeTo="file-async"/> -->
        <!-- <logger name="Synchronization.Peers.SyncPeersReport" minlevel="Error" writeTo="auto-colored-console-async"/> -->
        <!-- <logger name="Synchronization.Peers.SyncPeersReport" final="true"/> -->
        
        <!-- if sync get stuck this is the best thing to enable the Trace on -->
        <!-- <logger name="Synchronization.ParallelSync.MultiSyncModeSelector" minlevel="Trace" writeTo="file-async"/> -->
        <!-- <logger name="Synchronization.ParallelSync.MultiSyncModeSelector" minlevel="Trace" writeTo="auto-colored-console-async"/> -->
        <!-- <logger name="Synchronization.ParallelSync.MultiSyncModeSelector" final="true"/> -->

        <!-- <logger name="Network.*" minlevel="Trace" writeTo="file-async"/> -->
        <!-- <logger name="Network.*" minlevel="Trace" writeTo="auto-colored-console-async"/> -->
        <!-- <logger name="Network.*" final="true"/> -->

        <!-- for a detailed pruning analysis -->
        <!-- <logger name="Trie.*" minlevel="Trace" writeTo="file-async"/> -->
        <!-- <logger name="Trie.*" minlevel="Trace" writeTo="auto-colored-console-async"/> -->
        <!-- <logger name="Trie.*" final="true"/> -->

        <logger name="*" minlevel="Off" writeTo="seq" />
        <logger name="*" minlevel="Info" writeTo="file-async" />
        <logger name="*" minlevel="Info" writeTo="auto-colored-console-async" />
    </rules>
</nlog>
