[Interface]
PrivateKey = ${WIREGUARD_PRIVKEY}
Address = ${WIREGUARD_ADDRESS}
DNS =  ${WIREGUARD_DNS} 

[Peer]
PublicKey = ${WIREGUARD_PUBKEY}
PresharedKey = ${WIREGUARD_PRESHAREDKEY}
AllowedIPs = ${WIREGUARD_ALLOWED_IPS}
Endpoint = ${WIREGUARD_SERVER_IP}:${WIREGUARD_SERVER_PORT}
