<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <Functions>
      <Exclude>
        <Function>^Ethereum\.Test\.Base.*</Function>
        <Function>^Nethermind\.Blockchain\.Test.*</Function>
        <Function>^Nethermind\.Core\.Test.*</Function>
      </Exclude>
    </Functions>
  </CodeCoverage>
</Configuration>
