name: Publish Alpine arm64 image to docker registry

on:
  push:
    tags:
    - '*'

jobs:
  arm64-alpine-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Unshallow fetching
        run: git fetch --unshallow
      - name: Settings
        id: settings
        run: |
          echo ::set-output name=docker_username::${{ secrets.DOCKER_USERNAME }}
          echo ::set-output name=docker_image::nethermind/nethermind:arm64.alpine
      - name: Set up docker buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
      - name: Docker Login
        if: success()
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "${DOCKER_PASSWORD}" | docker login --username "${{ steps.settings.outputs.docker_username }}" --password-stdin
      - name: Build & Push image to docker registry
        run: |
          docker buildx build --platform=linux/arm64 -t ${{ steps.settings.outputs.docker_image }} -f Dockerfile_alpine_arm64 . --push
      - name: Clear
        if: always()
        run: |
          rm -f ${HOME}/.docker/config.json