name: Build Nethermind packages

on:
  workflow_dispatch:

jobs:
  build:
    name: Build Nethermind packages
    runs-on: ubuntu-latest
    env:
      PACKAGE_DIR: pkg
      PACKAGE_RETENTION: 7
      PUB_DIR: pub
      SCRIPTS_PATH: ${{ github.workspace }}/scripts/build
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Detect version
        id: version
        working-directory: src/Nethermind
        run: |
          sudo apt-get update && sudo apt-get install xmlstarlet -y --no-install-recommends
          version_prefix=$(xmlstarlet sel -t -v "//Project/PropertyGroup/VersionPrefix" Directory.Build.props)
          version_suffix=$(xmlstarlet sel -t -v "//Project/PropertyGroup/VersionSuffix" Directory.Build.props)
          version=$([[ -n "$version_suffix" ]] && echo "$version_prefix-$version_suffix" || echo "$version_prefix")
          echo "Detected version $version"
          echo "PACKAGE_PREFIX=nethermind-$version-${GITHUB_SHA:0:8}" >> $GITHUB_ENV

      - name: Build Nethermind.Runner
        run: |
          export SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)

          mkdir $GITHUB_WORKSPACE/$PUB_DIR

          docker build . -t nethermind-build -f $SCRIPTS_PATH/Dockerfile \
            --build-arg COMMIT_HASH=$GITHUB_SHA \
            --build-arg SOURCE_DATE_EPOCH=$SOURCE_DATE_EPOCH

          docker run --rm --mount type=bind,source=$GITHUB_WORKSPACE/$PUB_DIR,target=/output nethermind-build

      - name: Archive packages
        run: $SCRIPTS_PATH/archive.sh

      - name: Upload Nethermind Linux arm64 package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_PREFIX }}-linux-arm64-package
          path: ${{ github.workspace }}/${{ env.PACKAGE_DIR }}/*linux-arm64*
          retention-days: ${{ env.PACKAGE_RETENTION }}

      - name: Upload Nethermind Linux x64 package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_PREFIX }}-linux-x64-package
          path: ${{ github.workspace }}/${{ env.PACKAGE_DIR }}/*linux-x64*
          retention-days: ${{ env.PACKAGE_RETENTION }}

      - name: Upload Nethermind macOS arm64 package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_PREFIX }}-macos-arm64-package
          path: ${{ github.workspace }}/${{ env.PACKAGE_DIR }}/*macos-arm64*
          retention-days: ${{ env.PACKAGE_RETENTION }}

      - name: Upload Nethermind macOS x64 package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_PREFIX }}-macos-x64-package
          path: ${{ github.workspace }}/${{ env.PACKAGE_DIR }}/*macos-x64*
          retention-days: ${{ env.PACKAGE_RETENTION }}

      - name: Upload Nethermind Windows x64 package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_PREFIX }}-windows-x64-package
          path: ${{ github.workspace }}/${{ env.PACKAGE_DIR }}/*windows-x64*
          retention-days: ${{ env.PACKAGE_RETENTION }}
