name: Build StatelessExecution RISC-V

on:
  push:
    branches: [test/zkvm-precompile]

jobs:
  build-zisk:
    name: Build for Zisk
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "9.0.x"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # - name: Build .NET tool
      #   working-directory: tools/StatelessExecution
      #   run: make build-tool-local

      - name: Build ZISK binary
        working-directory: tools/StatelessExecution
        run: make build-zisk

      - name: Upload ZISK binary
        uses: actions/upload-artifact@v4
        with:
          name: stateless-execution-zisk
          path: tools/StatelessExecution/Program.patched
          if-no-files-found: error
