name: '[BUILD] RocksDB Libraries'

on:
  workflow_dispatch:

jobs:
  build-rocksdb:
    name: Building RocksDB
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest, ubuntu-latest]
    steps:
    - name: Cloning rocksDB repository
      run: |
        git clone https://github.com/NethermindEth/rocksdb-sharp-1.git
    - name: Building rocksDB for Windows
      if: matrix.os == 'windows-latest'
      run: |
        call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        call "C:\Program Files\Git\bin\bash.exe"
        (bash /d/a/nethermind/nethermind/rocksdb-sharp/build-native/build-rocksdb.sh)
      shell: cmd
    - uses: actions/upload-artifact@v1
      name: Uploading Windows artifact
      if: matrix.os == 'windows-latest'
      with:
        name: windows_artifact_rocksdb
        path: build-native/runtimes/win-x64/native/rocksdb.dll
    - name: Building rocksDB for Linux
      if: matrix.os == 'ubuntu-latest'
      run: |
        cd rocksdb-sharp/build-native
        chmod +x build-rocksdb.sh
        ./build-rocksdb.sh
    - uses: actions/upload-artifact@v1
      name: Uploading Linux artifact
      if: matrix.os == 'ubuntu-latest'
      with:
        name: linux_artifact_rocksdb
        path: build-native/runtimes/lin-x64/native/librocksdb.so
    - name: Building rocksDB for OSX
      if: matrix.os == 'macOS-latest'
      run: |
        cd rocksdb-sharp/build-native
        chmod +x build-rocksdb.sh
        ./build-rocksdb.sh
    - uses: actions/upload-artifact@v1
      name: Uploading Darwin artifact
      if: matrix.os == 'macOS-latest'
      with:
        name: darwin_artifact_rocksdb
        path: build-native/runtimes/osx-x64/native/librocksdb.dylib
