name: Build with Code Coverage

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  neth-tests-cc:
    name: Nethermind Tests CC
    env:
      EXCLUDE_TEST_PROJECTS: '/p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[Nethermind.HashLib]*%2c[Nethermind.Core.Test]*%2c[Nethermind.Blockchain.Test]*%2c[Nethermind.DataMarketplace.Test]*%2c[Ethereum.Test.Base]*"'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
      #  os: [ubuntu-latest, windows-latest, macOS]
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Unshallow fetching
      run: git fetch --unshallow --progress --prune origin +refs/heads/*:refs/remotes/origin/*
    - name: Updating submodules
      run: git submodule update --init src/Dirichlet src/rocksdb-sharp
    - name: Installing Linux packages
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install libsnappy-dev libc6-dev libc6
    - name: Installing macOS packages
      if: matrix.os == 'macOS'
      run: brew install gmp && brew install snappy && brew install lz4 && brew install zstd
    - name: Nethermind.Abi.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Abi.Test
    - name: Nethermind.AuRa.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.AuRa.Test
    - name: Nethermind.BeaconNode.Eth1Bridge.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.BeaconNode.Eth1Bridge.Test
    - name: Nethermind.BeaconNode.Peering.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.BeaconNode.Peering.Test
    - name: Nethermind.BeaconNode.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.BeaconNode.Test
    - name: Nethermind.Blockchain.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Blockchain.Test
    - name: Nethermind.Cli.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Cli.Test
    - name: Nethermind.Clique.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Clique.Test
    - name: Nethermind.Config.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Config.Test
    - name: Nethermind.Core.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Core.Test
    - name: Nethermind.Core2.Configuration.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Core2.Configuration.Test
    - name: Nethermind.Core2.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Core2.Test
    - name: Nethermind.Cryptography.Bls.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Cryptography.Bls.Test
    - name: Nethermind.Evm.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Evm.Test
    - name: Nethermind.Facade.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Facade.Test
    - name: Nethermind.HonestValidator.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.HonestValidator.Test
    - name: Nethermind.Logging.NLog.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Logging.NLog.Test
    - name: Nethermind.JsonRpc.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.JsonRpc.Test
    - name: Nethermind.Mining.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Mining.Test
    - name: Nethermind.Network.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Network.Test
    - name: Nethermind.Secp256k1.Test.Linux
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Secp256k1.Test
    - name: Nethermind.Runner.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Runner.Test
    - name: Nethermind.Synchronization.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Synchronization.Test
    - name: Nethermind.State.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.State.Test
    - name: Nethermind.Ssz.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Ssz.Test
    - name: Nethermind.Wallet.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.Wallet.Test
    - name: Nethermind.WebSockets.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.WebSockets.Test
    - name: Nethermind.DataMarketplace.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.DataMarketplace.Test
    - name: Nethermind.DataMarketplace.Channels.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.DataMarketplace.Channels.Test
    - name: Nethermind.DataMarketplace.Consumers.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.DataMarketplace.Consumers.Test
    - name: Nethermind.DataMarketplace.Infrastructure.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.DataMarketplace.Infrastructure.Test
    - name: Nethermind.DataMarketplace.Subprotocols.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.DataMarketplace.Subprotocols.Test
    - name: Nethermind.DataMarketplace.WebSockets.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Nethermind.DataMarketplace.WebSockets.Test
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v1.0.3
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        name: codecov-nethermind 
  eth-tests-cc:
    name: Ethereum Tests CC
    env:
      EXCLUDE_TEST_PROJECTS: '/p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[Nethermind.HashLib]*%2c[Nethermind.Core.Test]*%2c[Nethermind.Blockchain.Test]*%2c[Nethermind.DataMarketplace.Test]*%2c[Ethereum.Test.Base]*"'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
      #  os: [ubuntu-latest, windows-latest, macOS]
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Unshallow fetching
      run: git fetch --unshallow
    - name: Updating submodules
      run: git -c submodule."src/eth2.0-spec-tests".update=none submodule update --init
    - name: Ethereum.Basic.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.Basic.Test
    - name: Ethereum.Blockchain.Block.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.Blockchain.Block.Test
    - name: Ethereum.Blockchain.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.Blockchain.Test
    - name: Ethereum.Difficulty.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.Difficulty.Test
    - name: Ethereum.HexPrefix.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.HexPrefix.Test
    - name: Ethereum.KeyAddress.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.KeyAddress.Test
    - name: Ethereum.PoW.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.Rlp.Test
    - name: Ethereum.Rlp.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.Basic.Test
    - name: Ethereum.Transaction.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.Transaction.Test
    - name: Ethereum.Transition.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.Transition.Test
    - name: Ethereum.Trie.Test
      run: |
        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum.Trie.Test
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v1.0.3
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        name: codecov-nethermind
#  eth2-tests:
#    name: Ethereum 2.0 Tests
#    env:
#      EXCLUDE_TEST_PROJECTS: '/p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:Exclude="[Nethermind.HashLib]*%2c[Nethermind.Core.Test]*%2c[Nethermind.Blockchain.Test]*%2c[Nethermind.DataMarketplace.Test]*%2c[Ethereum.Test.Base]*"'
#    runs-on: ${{ matrix.os }}
#    strategy:
#      matrix:
#      #  os: [ubuntu-latest, windows-latest, macOS]
#        os: [ubuntu-latest]
#    steps:
#    - uses: actions/checkout@v2-beta
#      with:
#        lfs: true
#    - name: Updating submodules
#      run: git -c submodule."src/tests".update=none submodule update --init
#    - name: Ethereum.Bls.Test
#      run: |
#        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum2.Bls.Test
#    - name: Ethereum.Ssz.Test
#      run: |
#        dotnet test -c Release $EXCLUDE_TEST_PROJECTS src/Nethermind/Ethereum2.Ssz.Test
#    - name: Upload coverage reports to Codecov
#      uses: codecov/codecov-action@v1.0.3
#      with:
#        token: ${{secrets.CODECOV_TOKEN}}
#        name: codecov-nethermind
