name: Publish Docker image

on:
  push:
    branches: [master, release/*, paprika]
    paths: [src/Nethermind/**]

  workflow_dispatch:
    inputs:
      image-name:
        description: Image name
        required: true
        default: nethermind
      tag:
        description: Image tag
        required: true
      dockerfile:
        description: Dockerfile
        required: true
        default: Dockerfile
      build-config:
        description: Build configuration
        required: true
        default: release
        type: choice
        options: [release, debug]

jobs:
  publish-docker:
    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Publish Docker image
        uses: ./.github/actions/publish-docker
        with:
          image-name: ${{ github.event.inputs.image-name || 'nethermind' }}
          tag: ${{ github.event.inputs.tag || '' }}
          dockerfile: ${{ github.event.inputs.dockerfile || 'Dockerfile' }}
          build-config: ${{ github.event.inputs.build-config || 'release' }}
          docker-hub-username: ${{ secrets.DOCKER_HUB_USERNAME }}
          docker-hub-password: ${{ secrets.DOCKER_HUB_PASSWORD }}
