name: Publish Docker image

on:
  push:
    branches: [master]
    paths:
      - 'src/Nethermind/**'

  workflow_dispatch:
    inputs:
      image-name:
        description: Image name
        required: true
        default: nethermind
      tag:
        description: Image tag
        required: true
      dockerfile:
        description: Dockerfile
        required: true
        default: Dockerfile
      build-config:
        description: Build configuration
        required: true
        default: release
        type: choice
        options:
          - release
          - debug

jobs:
  publish-docker:
    name: Publish to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        if: success()
        run: echo "${{ secrets.DOCKER_ACCESS_TOKEN }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: Build and push image to Docker Hub (staging)
        run: |
          build_timestamp=$(date '+%s')
          docker buildx build --platform=linux/amd64,linux/arm64 \
            -f ${{ github.event.inputs.dockerfile || 'Dockerfile' }} \
            -t "nethermindeth/${{ github.event.inputs.image-name }}:${{ github.event.inputs.tag || 'master' }}" \
            --build-arg BUILD_CONFIG=${{ github.event.inputs.build-config || 'release' }} \
            --build-arg BUILD_TIMESTAMP=$build_timestamp \
            --build-arg COMMIT_HASH=$GITHUB_SHA . --push
      - name: Clear Docker cache
        if: always()
        run: rm -f $HOME/.docker/config.json
