name: '[RUN] POSDAO Tests'

on:
  push:
    tags:
    - '*'
    inputs:
      branch:
        description: 'Branch to get tests from'
        required: false
        default: 'master'
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to get tests from'
        required: false
        default: 'bc-test-merge'

jobs:
  run-posdao-tests:
    name: Running Nethermind POSDAO Tests
    runs-on: ubuntu-latest
    steps:
    - name: Installing Linux packages
      run: |
        sudo apt-get update
        sudo apt-get install libsnappy-dev libc6-dev libc6
    - name: Setting up dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Cloning Nethermind repo
      uses: actions/checkout@v2
      with:
        submodules: recursive
        path: nethermind
    - name: Cloning posdao-test-setup repo from Nethermind
      uses: actions/checkout@v2
      with:
        repository: NethermindEth/posdao-test-setup
        ref: ${{ github.event.inputs.branch }}
        submodules: recursive
        path: posdao-test-setup
    - name: Building Nethermind binary
      run: |
        cd nethermind
        mkdir bin
        cd src/Nethermind
        dotnet build Nethermind.sln -c Release
        cp -r Nethermind.Runner/bin/Release/net6.0/* /home/runner/work/nethermind/nethermind/nethermind/bin/
    - name: Setup the Node.js
      uses: actions/setup-node@v1.4.4
      with:
        node-version: '16'
    - name: Running POSDAO tests
      run: |
        cd posdao-test-setup
        npm run all-nethermind-no-watcher
    - name: Collect posdao logs if workflow was cancelled (otherwise it's collected in the test step)
      if: cancelled()
      run: cd posdao-test-setup && bash scripts/collect-logs
    - name: Compress posdao logs (already collected by posdao-test-setup)
      if: always()
      run: |
        cp posdao-test-setup/posdao-logs/latest posdao-test-setup/posdao-logs/posdao-logs
        zip -r posdao-logs.zip posdao-test-setup/posdao-logs/posdao-logs
    - name: Upload posdao logs
      if: always()
      uses: actions/upload-artifact@master      
      with:
        name: posdao-tests-logs
        path: posdao-logs.zip
