name: '[RUN] Nethermind/Ethereum Tests'

concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

on: 
  push:
  pull_request:
  workflow_dispatch:

jobs:
  neth-tests:
    name: Running Nethermind Tests 1
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setting up dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Installing Linux packages
      run: |
        sudo apt-get update
        sudo apt-get install libsnappy-dev libc6-dev libc6
    - name: Nethermind.Abi.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Abi.Test;
    - name: Nethermind.Api.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Api.Test;
    - name: Nethermind.AuRa.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.AuRa.Test
    - name: Nethermind.AccountAbstraction.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.AccountAbstraction.Test
    - name: Nethermind.Baseline.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Baseline.Test
    - name: Nethermind.BeaconNode.Eth1Bridge.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.BeaconNode.Eth1Bridge.Test
    - name: Nethermind.BeaconNode.Peering.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.BeaconNode.Peering.Test
    - name: Nethermind.BeaconNode.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.BeaconNode.Test
    - name: Nethermind.Blockchain.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Blockchain.Test
    - name: Nethermind.Cli.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Cli.Test
  neth-tests2:
    name: Running Nethermind Tests 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setting up dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Installing Linux packages
      run: |
        sudo apt-get update
        sudo apt-get install libsnappy-dev libc6-dev libc6
    - name: Nethermind.Clique.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Clique.Test
    - name: Nethermind.Config.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Config.Test
    - name: Nethermind.Consensus.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Consensus.Test
    - name: Nethermind.Core.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Core.Test
    - name: Nethermind.Core2.Configuration.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Core2.Configuration.Test
    - name: Nethermind.Core2.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Core2.Test
    - name: Nethermind.Cryptography.Bls.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Cryptography.Bls.Test
    - name: Nethermind.Network.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Network.Test
    - name: Nethermind.Network.Discovery.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Network.Discovery.Test
    - name: Nethermind.Network.Dns.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Network.Dns.Test
    - name: Nethermind.Network.Enr.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Network.Enr.Test
    - name: Nethermind.Facade.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Facade.Test
    - name: Nethermind.Logging.NLog.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Logging.NLog.Test
    - name: MathGmp.Native
      run: |
        dotnet test -c Release src/Math.Gmp.Native/MathGmp.Native.UnitTests                
  neth-tests3:
    name: Running Nethermind Tests 3
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setting up dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Installing Linux packages
      run: |
        sudo apt-get update
        sudo apt-get install libsnappy-dev libc6-dev libc6
    - name: Nethermind.HealthChecks.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.HealthChecks.Test
    - name: Nethermind.HonestValidator.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.HonestValidator.Test
    - name: Nethermind.Evm.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Evm.Test
    - name: Nethermind.Ethash.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Ethash.Test
    - name: Nethermind.EthStats.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.EthStats.Test
    - name: Nethermind.JsonRpc.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.JsonRpc.Test
    - name: Nethermind.Merge.Plugin.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Merge.Plugin.Test
    - name: Nethermind.Merge.AuRa.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Merge.AuRa.Test
    - name: Nethermind.Mev.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Mev.Test  
    - name: Nethermind.Mining.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Mining.Test
    - name: Nethermind.Specs.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Specs.Test
  neth-tests4:
    name: Running Nethermind Tests 4
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setting up dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Installing Linux packages
      run: |
        sudo apt-get update
        sudo apt-get install libsnappy-dev libc6-dev libc6
    - name: Nethermind.Secp256k1.Test.Linux
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Secp256k1.Test
    - name: Nethermind.State.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.State.Test
    - name: Nethermind.Synchronization.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Synchronization.Test
  neth-tests5:
    name: Running Nethermind Tests 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setting up dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Installing Linux packages
      run: |
        sudo apt-get update
        sudo apt-get install libsnappy-dev libc6-dev libc6
    - name: Nethermind.TxPool.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.TxPool.Test   
    - name: Nethermind.Trie.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Trie.Test        
    - name: Nethermind.Sockets.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Sockets.Test        
    - name: Nethermind.Wallet.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Wallet.Test
    - name: Nethermind.Ssz.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Ssz.Test

  neth-runner:
    name: Nethermind Runner Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setting up dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Installing Linux packages
      run: |
        sudo apt-get update
        sudo apt-get install libsnappy-dev libc6-dev libc6
    - name: Nethermind.Runner.Test
      run: |
        dotnet test -c Release src/Nethermind/Nethermind.Runner.Test
    - name: Nethermind.State.Test.Runner.Test
      run : |
        dotnet test -c Release src/Nethermind/Nethermind.State.Test.Runner.Test
  eth-tests1:
    name: Running Ethereum Tests 1
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setting up dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Unshallow fetching
      run: git fetch --unshallow
    - name: Updating submodules
      run: git -c submodule."src/eth2.0-spec-tests".update=none submodule update --init
    - name: Ethereum.Basic.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.Basic.Test
    - name: Ethereum.Blockchain.Block.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.Blockchain.Block.Test
    - name: Ethereum.Blockchain.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.Blockchain.Test

  eth-tests2:
    name: Running Ethereum Tests 2
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setting up dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Unshallow fetching
      run: git fetch --unshallow
    - name: Updating submodules
      run: git -c submodule."src/eth2.0-spec-tests".update=none submodule update --init
    - name: Ethereum.Abi.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.Abi.Test
    - name: Ethereum.Difficulty.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.Difficulty.Test
    - name: Ethereum.HexPrefix.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.HexPrefix.Test
    - name: Ethereum.KeyAddress.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.KeyAddress.Test
    - name: Ethereum.PoW.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.PoW.Test
    - name: Ethereum.Rlp.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.Rlp.Test
    - name: Ethereum.Transaction.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.Transaction.Test
    - name: Ethereum.Transition.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.Transition.Test
    - name: Ethereum.Trie.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.Trie.Test
    - name: Ethereum.VM.Test
      run: |
        dotnet test -c Release src/Nethermind/Ethereum.VM.Test