name: '[RUN] Truffle Smoke Tests'

on:
  push:
    tags:
    - '*'
  workflow_dispatch:

jobs:
  run-truffle-tests:
    name: Running Nethermind Truffle Tests on Spaceneth
    runs-on: ubuntu-latest
    steps:
    - name: Checking out Nethermind repository
      uses: actions/checkout@v2
    - name: Checking out Truffle repository
      uses: actions/checkout@v2
      with:
        repository: 'NethermindEth/truffleTest'
        path: truffleTest
    - name: Setting up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Setting up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
    - name: Logging to Docker Hub
      if: success()
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin
    - name: Building Docker image
      run: |
        docker buildx build --platform=linux/amd64 -t nethermindeth/truffle . --push
    - name: Setting up Node.js
      uses: actions/setup-node@v1.4.4
      with:
        node-version: '13'
    - run: npm install -g truffle
    - name: Running Truffle smoke tests
      run: |
        docker run --name nethermind --network host -itd nethermindeth/truffle --config spaceneth_persistent
        cd truffleTest/
        npm i sha3 --save
        npm i
        echo "silly funny task remove diamond maximum rack awesome sting chalk recycle also social banner verify" > .secret
        sleep 20
        truffle deploy --network development
        truffle test
